@use '@assets/styles/colorVariables.scss' as *;

.headerContainer {
    display: block;
}

.LoginTitle {
    display: none;
}

.form {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .forgotPassword {
        color: var(--Primary-Black-60);
        cursor: not-allowed;
    }

    .serverError {
        color: var(--Primary-Red-error);
    }
}

.buttonContainer {
    position: fixed;
    bottom: 12px;
    left: 24px;
    right: 24px;

    .askRedirect {
        color: var(--Primary-Blue);
        text-align: center;
        margin-bottom: 24px;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .LoginPage {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .headerContainer {
            display: none;
        }

        .LoginTitle {
            display: block;
            text-align: center;
            margin-bottom: 36px;
        }

        .form {
            max-width: 442px;
            padding-top: 0px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin: 0 auto;
            margin-bottom: 90px;
        }

        .buttonContainer {
            max-width: 345px;
            position: static;
            margin: 0 auto;
        }
    }



}