@use '@assets/styles/colorVariables.scss' as *;

.mainPage {

    .habitsContainer {
        display: flex;
        flex-direction: column;

        .dateSelector {
            margin-bottom: 16px;

            display: flex;
            gap: 8px;
            width: 100%;
            overflow-x: visible;
            scrollbar-width: none;
            -ms-overflow-style: none;
            align-items: center;

            >* {
                flex: 1 1 0;
                min-width: 0;
            }
        }

        .errorMessage {
            color: var(--Primary-Red-error);
        }
    }
}