@use '@assets/styles/colorVariables.scss' as *;

.form {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttonContainer {
    position: fixed;
    bottom: 12px;
    left: 24px;
    right: 24px;
}