@use '@assets/styles/colorVariables.scss' as *;

.mobileAppBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Base-White);
    border: 0.5px solid var(--Primary-Black-20);
    padding: 12px 24px;
    border-radius: 100px;
    position: fixed;
    bottom: 12px;
    left: 16px;
    right: 16px;
    max-width: 300px;
    max-width: 480px;
    margin: 0 auto;
    z-index: 10;


    .addButton {
        width: 40px;
        height: 40px;
        background: var(--Blue-Gradient);
        padding: 10px;
        margin: 0 8px;
        border-radius: 100%;
    }
}