@use '@assets/styles/colorVariables.scss' as *;

.header {
    background-color: var(--Base-White);
    box-shadow: inset 0 -1px 0 var(--Primary-Black-10);
    padding-bottom: 16px;
    margin-bottom: 12px;

    .headerWrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .statusBar {
            height: max(env(safe-area-inset-top), 59px);
        }

        .titleWithButtonsBlock {
            height: 48px;
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: center;
            gap: 8px;
        }

        .topContentBlock {
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .topContentText {
                .emojiHand {
                    height: 18px;
                    width: 18px;
                }

                .grayText {
                    color: var(--Primary-Black-40);
                    margin-top: 4px;
                }
            }

            .emojiFace {
                width: 24px;
                height: 24px;
                background-color: var(--Primary-Blue-info-10);
                padding: 12px;
                border-radius: 100%;
            }
        }

        .profileBlock {
            display: flex;
            gap: 8px;

            .desctopButtons {
                display: none;
                margin-right: 60px;
            }

            .profileImage {
                height: 56px;
                width: 56px;
                border-radius: 100%;
            }

            .profileText {
                .pointCounter {
                    width: max-content;
                    background-color: var(--Primary-Orange-warning-10);
                    display: flex;
                    align-items: center;
                    padding: 2px 4px;
                    border-radius: 8px;
                    margin-top: 4px;


                    img {
                        height: 16px;
                        width: 16px;
                    }

                    p {
                        color: var(--Primary-Orange-warning);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .header {
        margin-bottom: 24px;

        .headerWrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 12px;
            column-gap: 24px;
            padding-top: 32px;

            .statusBar {
                display: none;
            }

            .titleWithButtonsBlock {
                display: none;
            }

            .topContentBlock {
                grid-column: 1;

                .emojiFace {
                    display: none;
                }
            }

            .profileBlock {
                grid-column: 2;
                flex-direction: row-reverse;

                .desctopButtons {
                    display: flex;
                    gap: 8px;
                }

                .profileImage {
                    height: 48px;
                    width: 48px;
                }

                .profileText {
                    .pointCounter {
                        margin-top: 0;
                    }
                }
            }

            .segmentControlBlock {
                grid-column: 1;
            }

            .weekSelectorBlock {
                grid-column: 1;
            }


        }
    }
}