@use '@assets/styles/colorVariables.scss' as *;

.progressBanner {
    background: var(--Blue-Gradient);
    padding: 16px;
    border-radius: 16px;
    display: flex;
    gap: 12px;
    justify-content: left;
    align-items: center;


    .progresText {

        .mainText {
            color: var(--Base-White);
            margin-bottom: 4px;

            .emoji {
                width: 12px;
                height: 12px;
                margin-left: 6px;
            }
        }

        .secondaryText {
            color: var(--Primary-Blue-40);
        }
    }
}